.app {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: hsl(190, 100%, 45%); */

    background: linear-gradient(
            45deg,
            hsl(202, 91%, 35%) 0%,
            hsla(340, 100%, 55%, 0.1) 70%
        ),
        linear-gradient(
            135deg,
            hsla(184, 85%, 60%, 0.8)0%,
            hsla(225, 95%, 50%, 0) 80%
        ),
        linear-gradient(
            225deg,
            hsl(190, 80%, 47%) 10%,
            hsla(140, 90%, 50%, 0) 80%
        ),
        linear-gradient(
            315deg,
            hsl(190, 93%, 46%) 100%,
            hsla(35, 95%, 55%, 0) 70%
        );
}
